{% extends "layout.html" %}
{% block title %}
  Error!
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="errors">
    <br>
    <img src="{{ url_for('static', filename='emblem.jpeg')}}" height="20%" width="60%">
    <br>
    <h1>Error!</h1>
    {{ message }}
    <br>
    <br>
    {% if file=="login" %}
      <a href="{{ url_for('index') }}">Back to Log In page!</a>
    {% elif file=="rate" %}
      <a href="{{ url_for('register_page') }}">Register in this site!</a><br>
      <a href="{{ url_for('index') }}">Already have an Account?</a><br>
      <a href="{{ url_for('books_details', isbn=isbn) }}">Back to view the Book details.</a>
    {% elif file=="already" %}
      <a href="{{ url_for('books_details', isbn=isbn) }}">Back to view the book details.</a>
    {% elif file=="comments" %}
      <a href="{{ url_for('getcomments', isbn=isbn )}}">Back to view the comments.</a>
    {% elif file=="register" %}
      <a href="{{ url_for('register_page') }}">Go to register page.</a><br>
      <a href="{{ url_for('getcomments', isbn=isbn) }}">Back to view the comments.</a>
    {% else %}
      <a href="{{ url_for('register_page') }}">Back to Register page.</a>
    {% endif %}
  </div>
{% endblock %}
